<div>
  <h2> You are now viewing your selected bill for: </h2>

  <h3><%= @category.type %></h3>

  
  <!-- Want to show all the the transactions of the category clicked -->
    <h4> Transactions Below:</h4>


    <% @category.transactions.each do |transaction| %>
    <ul>
    <li>
      <a href="/transactions/<%= transaction.id%>">purchase info</a> 
      <%= '%.2f' % (transaction.cost) %> <hr>
      </li>
      </ul>
    <% end  %> 
<!-- need to insert a total cost here for only each item by its id  -->

<h4>Total Amount: </h4>

<%=@category.specific_total%>


<br>
<form action="/categories/<%= @category.id %>" method="post">
  <input type="submit" value="Click To Delete Transaction">
  <input name="_method" type="hidden" value="delete"/>
</form>
<br>
<a href="/categories/<%= @category.id %>/edit">Edit Category</a>
<br>

<a href="/categories">Back</a>

</div>