
  <h1><%= @transaction.merchant.name %></h1>
  <h2><%= @transaction.category.type %></h2>
  <h3><%= @transaction.cost %> </h3>

  <a href="/categories">Back</a>
  <br>
  <a href="/transactions/<%= @transaction.id %>/edit">Edit</a>
  <br>
  <form action="/transactions/<%= @transaction.id %>" method="post">
    <input type="submit" value="Click To Delete">
    <input name="_method" type="hidden" value="delete"/>
  </form>
  <br>
  <a href="/">Home</a>

  






  