
  <div>
  <h2> <em> Purchase made at: </em></h2>
  <h4><%= @transaction.merchant.name %></h4>
  <h2> <em> Type of purchase:</em> </h2>
  <h4><%= @transaction.category.type %></h4>
  <h2><em> Total cost:</em> </h2>
  <h4><%= '%.2f' % (@transaction.cost) %> </h4>

  <a href="/categories">Back</a>
  <br>
  <a href="/transactions/<%= @transaction.id %>/edit">Edit</a>
  <br>
  <form action="/transactions/<%= @transaction.id %>" method="post">
    <input type="submit" value="Click To Delete">
    <input name="_method" type="hidden" value="delete"/>  
  </form>
  <br>
  <a href="/">Home</a>
</div>

  






  